.select-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    margin-right: 1em;
    margin-top: 0.5em;
}

.lang-select {
  padding: 0.5em;
  border-color: #011e48;
  border-radius: 5px;
  border-style: solid;
}

.article-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
  border-style: solid;
  border-color: #011e48;
  border-radius: 10px;
}

.article-content h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.article-content h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.article-content .date {
  margin-bottom: 1em;
}

.article-content p {
  margin: 1em 0;
  text-indent: 2em;
}
