.lang-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
}

.lang-option {
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.25em;
}

.lang-option[current-lang="true"] {
  background-color: #011e48;
  color: white;
}

.article-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
  margin-left: 2em;
  margin-right: 2em;
}

.article-content h2 {
  margin: 0;
  padding: 0;
}

.article-content h3 {
  margin: 0;
  padding: 0;
}

.article-content .date {
  margin-bottom: 2em;
}

.article-content p {
  margin: 1em 0;
  text-indent: 2em;
}
